BOT_TOKEN=Токен бота, полученый в @BotFather
CHANNEL=@Юз канала

INTERVAL_MIN=Интервал постинга в минутах (10)

MIN_VOTES=Минимальное кол-во голосов для фильтра
MAX_INDEX=Сколько постов фильтровать за 1 итерацию

OPENAI_API_KEY=api ключ, полученый на сайте https://console.groq.com
AI_MODEL= Модель из доступных на сайте https://console.groq.com (openai/gpt-oss-120b)
MAX_TOKENS= количество максимальных токенов (символов) в посте (1000)